img { 
   width:100px;
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
   border-radius:50%;
}
.lgoinRegisterContainer {
    text-align: center;
}
.loginContainer img {

   margin-bottom: 20px;
}
ul {
    list-style: none;
    margin-right:40px;
   
}
li button {
width: 140px;;
}
.displayGrid {
    display: grid;
    grid-template-columns: auto auto ;
    text-align: center;
    grid-gap: 1px;
    background: #263238;
    color:white;
    
    
}
.displayGrid a {
    padding: 15px;
    text-decoration: none;
    color:white;
}
.displayGrid a:hover {
    background:#3d484e;
}
.active {
    background:#3d484e;
}