<!-- <mat-toolbar color="primary">
  <mat-toolbar-row class="row">
    <button mat-raised-button>Login</button>
    <button mat-raised-button>Register</button>
  </mat-toolbar-row>
</mat-toolbar> -->
<div class="displayGrid">
  <a class="active">Login</a>
  <a class="gridContent">Register</a>
</div>
<br>
<div class="loginContainer">
  <img src="https://us.123rf.com/450wm/arhimicrostok/arhimicrostok1709/arhimicrostok170902578/86987065-stock-vector-user-login-or-authenticate-icon-flat-design-style-.jpg?ver=6"
    alt="login logo">
  <hr>
  <button mat-raised-button>
    <mat-icon class="material-icons">email</mat-icon>Google
  </button>
  <button mat-raised-button>facebook</button>
  <hr> OR
  <form>
    <mat-form-field appearance="legacy">
      <mat-label>Username or email</mat-label>
      <input matInput placeholder="Placeholder">
      <mat-icon matSuffix>perm_identity</mat-icon>
    </mat-form-field>
    <mat-form-field appearance="legacy">
      <mat-label>Password</mat-label>
      <input matInput placeholder="Placeholder">
      <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
    </mat-form-field>
  </form>
  <button mat-raised-button>Login</button>
  <br>
  <br>
</div>
